* {margin: 0;
padding:0;
box-sizing: border-box;
}

.jb-box {
    padding: 20px;
    top: -5%;
    width: 100%;
    height: auto;
    margin: 0px auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  .background {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    padding: 20px;
    opacity: 0.5;
  }

body {
    font-family: 'Yatra One', cursive;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* the following code centers the cards in the middle of page */
    position: absolute;
    top: 0;
    left: 0;
    /* perspective: 1000px; */
}

.flip-card {
    display: flex;
    flex-direction: row;
    padding: 60px;
    width: auto;
    height: auto;
    margin: 15;
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.flip-card:hover {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.flip-card-front {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.5ss ease-in-out;
}

.flip-card-front:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.flip-card-front {
    position: relative;
    justify-content: center;
    align-content: center;
}

.western-image {
    width: 350px;
    height: 500px;
}

.flip-card-back {
    background-color: #517fa4;
    color: #fff;
    transform: rotateY(180deg);
    width: 350px;
    height: 500px;
    position: absolute;
}

.container {
    position: relative; 
    height:400px;
    top: -20%;
    left: -80%;
    padding: 2rem;
    border: 1px solid purple;
    border-radius: 25px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.filter {
    padding: 10px;
    line-height:1.5;
}

p {
    padding: 20px;
    line-break: auto;
    font-size: 0.65em;
}

h1 {
    padding: 20px;
    font-size: 1em;
    position: absolute;
    top: 5%;
}